<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Listado_de_proyectos.Properties.Settings.project_listConnectionString"
            connectionString="Data Source=THEKRAKEN;Initial Catalog=project_list;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>